
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


.custom-navbar {
    background: linear-gradient(45deg, #0c0c0c, #6610f2);
    padding: 15px 0;
}

.navbar .nav-link {
    color: white;
    padding: 10px 15px;
    transition: 0.3s;
}


.navbar .nav-link.active {
    color: #f9f7ee !important;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #ffdd57;
}

/* Logo */
.logo {
    height: 80px;
}


.btn-custom {
    background-color: #fbf8ed;
    color: #333;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

.btn-custom:hover {
    background-color: #181303;
    color: white;
}

/* Banner Section */
.banner {
    height: 100vh;
    background: url('grafiti.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px auto;
}
#about h2, #about h3 {
    color: rgb(144, 173, 127);

}

#about img {
    padding: 25px 20ox;
    border: 15px solid white;
    box-shadow: 0 0 25px 0 rgb(219, 12, 12);
    border-radius: 25px;
}
.card-img-top{

    width: 30%;
}
.card{
    border: 15px solid white;
    box-shadow: 0 0 25px 0 rgb(12, 12, 12);
    border-radius: 25px; 
    margin-top: 20px;
}
.card:hover{
    background-color: pink;
    box-shadow: 0 0 10px 0 rgb(196, 8, 8);
}
.card:hover, .card-title,
.card:hover, .card-text{
    color: rgb(131, 9, 9);
}
#reviews{
    background-color: #464c4c;
    padding: 45px;
    
}
.testimonial{
    border: 2px solid #35084e;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}.testimonial img{
    width: 75px;
    border-radius: 50%;
    border: 2px solid #8b07075e;
}
.faq-section{
    max-width: 800px;   
    margin: auto;
    margin-top: 30px;
}

.accordion-item{
    margin-bottom: 20px;
    border-radius: 0 !important;
}
.accordion-button{
    background-color: #0b3a68;
    border: none;
    border-bottom: 1px solid #497152;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body{
    border-left: 3px solid #012990;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #1363b3;
}
.accordion-button:not(.collapsed){
    background-color: #0d111a;
    color: #d1141463;
}

.accordion-button:hover{
    background-color: #060912;
    color: #d31717;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #050913 ;
} 

#footer ul.list-unstyled li a {
    color: #bb2727;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}
@media screen and (max-width: 767px) {
    h1{
        font-size:45px !important;
    }

    section {
        padding: 60px 20px;
    }
    #about img{
        height: 300px;
        width:300px;
        margin: 30px;
    }
}

    
